div.col-lg-12.col-md-12.col-sm-12.col-xs-12
	div.modal.fade#modal_All(data-backdrop="static")
		div.modal-dialog.container
			div.modal-content.modal-admin
				div.modal-header
					button.close(data-dismiss='modal',aria-label="Close")
						span(aria-hidden="true") &times;
					h2.modal-title
						p(style="text-align : center")#judul
				div.modal-body
					div#kosong
					div#AllModal
						
				div.modal-footer